.myPosts{
    margin-right: auto;
    margin-left: 60px;

}

.header{
    font-size: 30px;
}

.addButton button{
    margin: auto;
    font-size: 18px;
    border		: 2px solid #888;
    border-radius: 5px;
}

textarea{
    background-color	: lightgrey;
    border		: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    box-shadow: 1px 1px 1px #999;
    resize: initial;
    width: 50%;
    height: 65px;
}



.posts{
    margin-top: 35px;
}