
.nav {
    padding: 15px;
    grid-area: n;
    background-size: auto;
    background-color: rgb(42, 157, 143);
}

.item {
    color: aliceblue;
    font-size: 22px;
}

.item.active {
    color: gold;
    font-size: 30px;
}
