

.item{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 20px;
}
.item img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.postText{
    font-size: 22px;
}

.likes{
    font-size: 17px;
}