.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1920px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: green;
}

.header img {
    margin: 14px;
    width: 100px;
}

.nav {
    grid-area: n;
    background-color: khaki;
}

.content {
    grid-area: c;
    background-color: rgb(128, 240, 234);
}